.THIS.events-container{
    border-radius:5px;
    margin: 15px;
    border: 0;
    background-color:#fff;
}

.THIS .events-header{
    background-color:#e2373c;
    color:#fff;
    width:100%;
    height:50px;
    border-radius:5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.THIS .events-header-body{
    max-width: 38rem;
    padding:0 20px;
    margin: 0 auto;
}

.THIS .events-header-body img{
    height:30px;
    width:auto;
    margin-top:10px;
    float:left;
}

.THIS .events-header-body h4{
    color:#fff;
    margin:0;
    padding: 15px 0 0 60px;
}

.THIS .event-results-header{
    font-size: 15px;
    padding:10px 0;
}

.THIS .event-card{
    background-color: #ffffff;
}

.THIS .events-content{
    padding:10px 15px;
}

.THIS .event-card-title{
    color: #3c3d3e;
    padding: 15px 0 0 0;
    font-size: 15px;
    font-weight: 700;
}

.THIS .event-card-body{
    padding: 0;
    line-height: 16px;
    font-size: 14px;
}

.THIS .event-card-body .event-location{
    font-size:14px;
    color: #7e7f80;
}

.THIS .event-card-body .event-card-scrollable-content{
    height:auto;
    max-height:250px;
    overflow-y: hidden;
}

.THIS .event-card .event-read-more{
    font-size:13px;
    display: block;
    text-align:center;
    padding:0px 13px 5px 13px;
}

.THIS .event-card-body img{
    max-height:80px;
    max-width:80%;
    width:auto;
}

.THIS .event-card-footer{
    padding: 15px 0px 20px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #f5f5f6;
}

.THIS .event-card-footer span{
    font-size:12px;
}
.THIS .event-card-footer .footer-action{
    margin-right: 12px;
    float:left;
}

.THIS .event-card-footer .footer-text{
    margin-left: 12px;
    float:right;
    color: #7e7f80;
}

.THIS .meetup-apikey-input{
    width: 100%;
    margin-top: 10px;
    font-family: 'ProximaNovaSoft-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: .9375rem;
    color: #3c3d3e;
    display: inline;
    box-sizing: border-box;
    padding: 14px 5px;
    border-radius: .3125rem;
    border: 1px solid transparent;
    background: #ffffff;
    resize: none;
    line-height: normal;
    padding: .5rem;
}

.THIS .update-key-button{
    margin-top:10px;
    text-align:center;
}

.THIS .toggle-setup-panel{
    width:100%;
    text-align:left;
    padding:0;
}

.THIS .toggle-setup-panel a{
    font-size:14px;
}

.THIS .api-setup-panel{
    padding: 0px;
}

.THIS .api-setup-panel input{
    border: 1px solid #ddd;
}