.THIS.search-container{
    border-radius:5px;
    margin: 15px;
    border: 0;
    background-color:#fff;
}

.THIS .search-header{
    background-color:#e2373c;
    color:#fff;
    width:100%;
    height:50px;
    border-radius:5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.THIS .search-header-body{
    max-width: 38rem;
    padding:0 20px;
    margin: 0 auto;
}

.THIS .search-header-body img{
    height:30px;
    width:auto;
    margin-top:10px;
    float:left;
}

.THIS .search-header-body h4{
    color:#fff;
    margin:0;
    padding: 15px 0 0 60px;
}

.THIS #meetup-search-criteria{
    padding:10px;
}

.THIS .div-table{
    display: table;
    width:100%;
}

.THIS .row{
    display: table-row;
    margin:5px 0;
}

.THIS .col{
    vertical-align:middle;
    display: table-cell;
}

.THIS .meetup-search-input{
    width: 98%;
    margin-top: 10px;
    font-family: 'ProximaNovaSoft-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: .9375rem;
    color: #3c3d3e;
    display: inline;
    box-sizing: border-box;
    padding: 14px 5px;
    border-radius: .3125rem;
    border: 1px solid #ddd;
    background: #ffffff;
    resize: none;
    line-height: normal;
    padding: .5rem;
}

.THIS .meetup-search-input-searchterm{
    display:block;
}

.THIS #meetup-search-criteria button.meetup-search-button{
    margin-top: 10px;
}
