.THIS.search-container{
    margin: 15px;
}

.THIS .search-header{
    background-color:#2c4053;
    width:100%;
    height:100px;
    border-radius:5px;
}

.THIS .search-header-body{
    max-width: 38rem;
    padding:0 20px;
    margin: 0 auto;
}

.THIS .search-header-body img{
    height:50px;
    width:auto;
    margin-top:25px;
    float:left;
}

.THIS .search-header-body h2{
    color:#fff;
    margin:0;
    padding: 35px 0 0 90px;
}

.THIS #meetup-search-criteria{
    margin-top:10px;
}

.THIS .div-table{
    display: table;
    width:100%;
}

.THIS .row{
	display: table-row;
    margin:5px 0;
}

.THIS .col{
    vertical-align:middle;
	display: table-cell;
}

.THIS .meetup-search-input{
    width: 98%;
    margin-top: 10px;
	font-family: 'ProximaNovaSoft-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: .9375rem;
    color: #3c3d3e;
    display: inline;
    box-sizing: border-box;
    padding: 14px 5px;
    border-radius: .3125rem;
    border: 1px solid transparent;
    background: #ffffff;
    resize: none;
    line-height: normal;
    padding: .5rem;
}

.THIS .meetup-search-input-searchterm{
    display:block;
}

.THIS #meetup-search-criteria button.meetup-search-button{
    margin-top: 10px;
}

.THIS .meetup-search-results{
    margin-top:20px;
}